@import "../../static/scss/settings";

$button-bg-color: #0071B3;
$button-hover-bg-color: darken($button-bg-color, 10);
$button-border-color: $button-bg-color;
$button-hover-border-color: $button-hover-bg-color;

button {
  padding: $gutter-half $gutter;
  background-color: $button-bg-color;
  border: 1px solid $button-border-color;
  border-radius: 3px;
  color: #FFF;
  cursor: pointer;

  &:hover {
    background-color: $button-hover-bg-color;
    background-color: $button-hover-border-color;
  }

  &.add-location {
    margin-left: $gutter;
  }
}
