@import "settings";
@import "animations";
@import "components/all";

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

#root,
.App {
  height: 100%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  padding: $gutter;
}

.form-add {
  position: relative;
  background-color: #F7A100;
  padding: $gutter;
  z-index: 10;

  input {
    background: #FFF;
    padding: $gutter-half;
    border: 1px solid darken(#F7A100, 5);
  }
}

.property-map {
  display: flex;
  min-height: 100%;

  &__list {
    background-color: #FFF;
    border: 1px solid #CCC;
    flex: 0 1 250px;
    box-shadow: 6px 0px 10px 0px rgba(0,0,0,.3);
    z-index: 5;

    .list__item {
      border-top: 1px solid #DDD;
      border-bottom: 1px solid #DDD;

      &--active {
        background-color: #CCC;
        border-color: #AAA;
      }
    }
  }

  &__map {
    position: relative;
    padding: $gutter;
    background-color: #EEE;
    background-image: url('../img/map.jpg');
    background-size: cover;
    flex: 1 1 auto;
    overflow: hidden;

    .map__item {
      position: absolute;
      z-index: 10;

      &--active {
        background-color: #FF0000;
      }
    }
  }
}
