@import "animations";
@import "components/all";

$gutter: 16px;
$gutter-half: ($gutter / 2);


html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

#root,
.App {
  height: 100%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  padding: $gutter;
}

.form-add {
  background-color: #DDD;
  padding: $gutter;
}

.property-map {
  display: flex;
  min-height: 100%;

  &__list {
    background-color: #DDD;
    border: 1px solid #CCC;
    flex: 0 1 250px;

    .list__item {
      border-top: 1px solid #DDD;
      border-bottom: 1px solid #DDD;

      &--active {
        background-color: #CCC;
        border-color: #AAA;
      }
    }
  }

  &__map {
    position: relative;
    padding: $gutter;
    background-color: #EEE;
    background-image: url('../img/map.jpg');
    background-size: cover;
    flex: 1 1 auto;
    overflow: hidden;

    .map__item {
      position: absolute;
      z-index: 10;

      &--active {
        background-color: #FF0000;
      }
    }
  }
}
