@import "settings";
@import "animations";

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

#root,
.App {
  height: 100%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  padding: $gutter;
}

header {
  display: flex;
  position: relative;
  background-color: #F7A100;
  padding: $gutter;
  z-index: 10;
}

.form-add {
  flex: 0 1 auto;

  input {
    background: #FFF;
    padding: $gutter-half;
    border: 1px solid darken(#F7A100, 5);
  }
}

.property-map {
  display: flex;
  min-height: 100%;
}
